@keyframes scrollRight {
    0% {
      transform: translateX(-100%) rotate(0deg);
    }
    100% {
      transform: translateX(200%) rotate(360deg);
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  